:root {
  --white-dark: rgb(21, 21, 21);
  --bg: white;
  --input: rgb(211, 211, 211);
  --nums-b: rgb(225, 225, 225);
  --bg1:  rgb(207, 207, 207);
  --bg2: rgb(67, 191, 194);
}

.darkmode {
 --white-dark: rgb(214, 214, 214);
 --bg: black;
 --input: rgb(29, 29, 29);
 --nums-b: rgb(22, 22, 22);
 --bg1:  rgb(43, 43, 43);
 --bg2: rgb(215, 141, 5);
}


html, body {
    height: 100%;
}




body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    transition: all 0.3s;
    font-family: "Roboto Mono", monospace;
    background: var(--bg-gr);

    flex-direction: column;
}


#container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 70%;
    background: transparent;
    margin-top: 0px;
    border-radius: 25px;
    overflow: hidden;
    align-content: center;
    user-select: none;
    background: var(--nums-b);
}

#container #resultLabel{
    padding: 20px;
    display: block;
    height: 100px;
    width: 100%;
    text-decoration: none;
    background-color: var(--input);
    border: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: var(--white-dark);
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: auto;
    min-height: 50px;
    text-align: left;
}

.nums {
    background: var(--nums-b);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    
}



.num {
    display: flex;
    transition: all 0.3s; 
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: var(--bg1);
    border-radius: 50%;
    margin: 5px;
    font-size: 2em;
    color: var(--white-dark);
    border: none;
}

.num.sign {
    background: var(--bg2);
}

button {
    font-family: 'Roboto Mono', monospace;
}

.num:hover {
    filter: brightness(0.6);
    cursor: pointer;
}

.num:active {
    filter: brightness(0.1)
}


.equal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 90%;
    height: 75px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 25px;
    border: none
}