:root {
    --body-bg: rgb(246, 246, 246);
    --main-bg: rgb(228, 228, 228);
    --border: 1.5px solid rgb(64, 214, 207);
    --msg-b: #f0f2f5;
    --text: rgb(19, 19, 19);
    --input: #f5f5f5;
    --step-b: #e7e7e7;
    --step-tn: #a3d4e3;
    --white-dark : black;
    --nav: hsl(185, 37%, 83%);
}
.darkmode {
    --body-bg: rgb(18, 18, 18);
    --main-bg: rgb(26, 26, 26);
    --border: 1.5px solid rgb(48, 20, 54);
    --msg-b: #2e2e2e;
    --text: rgb(239, 239, 239);
    --input: #40414f;
    --step-b: #2c2d37;
    --step-tn: #43384d;
    --white-dark : white;
    --nav: hsl(236, 10%, 30%);
}


body {
    background: var(--body-bg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: 100vh;
    overflow: auto;
    font-family: 'Roboto Mono', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: transparent/*var(--main-bg)*/;
    gap: 8px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
   
    overflow: auto;
    /*box-shadow: 0px 0px 10px 0px black;*/
    padding: 25px;
    border: none/*var(--border)*/;
    
}

.label {
    color: var(--text);
    font-weight: bold;
    padding: 5px;
    background: var(--msg-b);
    border-radius: 10px;
    padding-bottom: 50vh,
}

.user {
    margin-left: auto;
}

.computer {
    margin-right: auto;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 0;
  transform: scale(1.2);
}

.input {
    position: relative;
    margin-top: auto;
    top: 85%;
    right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    
    position: fixed;
    
    width: 50%;
    min-width: 350px;
    height: 60px;
    font-size: 3em;
    padding: 0;
    align-items: center;
    background: var(--input);
    border-radius: 50px;
    overflow: hidden;
    
    border: var(--border);
    box-shadow: 0px 2px 10px 1px rgba(92, 92, 92, 0.704)
}

.input input {
    background: transparent;
    display: flex;
    margin-top: auto;
    width: 80%;
    height: 100%;
    
    border: none;
    outline: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    padding: 10px;
    box-sizing: border-box;
    color: var(--text);
}

.input div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 10%;
    height: 100%;
    background: var(--step-b);
    justify-content: center;
    border-radius: 20px;
}

.input div button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
   border: none;
    background: var(--step-tn);
    font-size: 0.5em;
    color: var(--text);
}

#add {
    border-radius: 60px 60px 3px 3px;   
    margin-bottom: 0;
}

#sub {
    margin-top: 5px;
    border-radius: 3px 3px 60px 60px;

}

.btn:hover {
    filter: brightness(0.6);
    cursor: pointer;


}

.btn:active {
    filter: brightness(0.2);
}

#sendbtn {
    margin-left: 10px;
    border: none;
    background: var(--white-dark);
    color: var(--body-bg);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 24px;
}

#sendbtn:hover {
    cursor: pointer;
    filter: brightness(0.8)
}

#sendbtn:active {
    filter: brightness(0.4)
}
/*nav bar*/
.bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 89%;
    width: 300px;
    margin-left: -10px;
    margin-top: 70px;
    margin-bottom: 0px;
    background: var(--nav);
    border-radius: 25px;
    margin-left: 10px;
    overflow: hidden;
    padding: 10px;
}

.bar label{
    font-weight: bold;
    font-size: 1.5em;
}

.Dbtn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    margin-top: 10px;
    border-radius: 15px;
    border: 5px solid rgb(33, 89, 0);
    background: linear-gradient(70deg, green, rgb(60, 104, 60));
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2),
    inset 0 2px 0 rgba(255,255,255,0.3);
}

