:root {
  --bg-gr: linear-gradient(90deg, #ececec, #ececec );
  --b-bg: #ececec;
  --b-bg-t: #050505;
  --bg: linear-gradient(90deg, #3b82f6, #2563eb);
  --text: black;
  --text-p: white;
  --shadow:  0 4px 20px rgba(79, 70, 229, 0.3);
  --circle-shadow: 0 0 50px 5px rgba(0, 195, 198, 0.919);
  --circle-gr: radial-gradient(circle, rgba(0, 97, 177, 0.843) 0%, rgba(0, 51, 255, 0.5) 100%);
}
.darkmode {
  --bg-gr: linear-gradient(90deg, #070707, #070707 );
  --b-bg:  #070707;
  --b-bg-t: #ececec;
  --bg: linear-gradient(90deg, hsl(240, 100%, 15%), #08082cc2);
  --text: rgb(206, 206, 206);
  --text-p: rgba(113, 113, 113, 0.773);
  --shadow:  0 0 10px rgba(0, 0, 255, 0.2);
  --circle-shadow: 0 0 50px 5px rgb(1, 74, 101);
  --circle-gr: radial-gradient(circle, rgba(0, 8, 50, 0.8) 0%, rgba(0, 6, 30, 0.5) 100%);
}


/*start*/

body {
  display: flex;
  padding: 75px;
  font-family: "Roboto Mono", monospace;
  
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 
  background: var(--bg-gr);
  height: 100vh;
  flex-direction: column;
}

/* page one */
.main {
  display: flex;
  padding: 5px;
  flex-direction: column;
  background: rgb(248, 247, 247);
  border-radius: 30px;
  
  border: 2px solid var(--b-bg-t);
  background: var(--b-bg)
}

#Container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  flex-direction: row;
  
}
#Time {
  user-select: none;
  font-size: 5em;
  transition: all 0.1s;
  text-align: center;
  color: var(--b-bg-t);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.22s;
  font-size: 2.5em;
  background-color: var(--b-bg);
  border: 2px solid var(--b-bg-t);
  border-radius : 50%;
  text-align: center;
  padding: 14px;
  width: 50px;
  height: 50px;
  color: var(--b-bg-t)
}

.btn:hover {
  cursor: pointer;
  width: 75px;
  height: 75px;
}

